body {
  padding-top: 50px;
  padding-bottom: 20px;
  /* font-family: sans-serif; */
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

button, input, select, textarea, input[type=checkbox] {
  margin-left: 6px;
}

label {
  margin-left: 6px;
}

.label-head {
  padding-left: 10px;
  text-decoration: underline;
}